<footer>
    <ul class="icons">
		<li><a href="{{ site.github_url }}" class="fa-github" target="_blank">GitHub</a></li>
		<li><a href="{{ site.gitlab_url }}" class="fa-gitlab" target="_blank">GitLab</a></li>
		<li><a href="{{ site.linkedin_url }}" class="fa-linkedin" target="_blank">LinkedIn</a></li>
	</ul>
</footer>

</section>

<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>&copy; {{ site.title }}</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li><li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>
	</ul>
</footer>

</div>

<!-- Scripts -->
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/respond.min.js"></script><![endif]-->
<script>
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
</script>
